
footer div i{
  font-size: 30px!important;
  color: white!important;
  font-weight: bold!important;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  -ms-transition: lor 1.5s;
  transition: 1.5s;
}
.v-main__wrap.v-content__wrap{
overflow: hidden;
}
.text_format{
    font-size:calc(16px + (20 - 16) * ((100vw - 414px) / (1700 - 414)));
    line-height: calc(22px + (26 - 22) * ((100vw - 414px) / (1700 - 414)));    font-weight: 300;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-transform: none;
}
footer div i:hover{
  color:#7e5c91 !important;
}

p a .send-video-link:hover{
    color:#6c0b8a !important;
  }

.v-progress-linear{
     border-radius: 12px;
     margin: 0;  
}

[v-cloak] { display: none; }
